body {

    width: 995;
    background-color: rgb(235, 235, 235);
    color: rgb(44, 44, 44);
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

p {
    padding-left: 0px;
    padding-right: 0px;;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}

.hidden {

    display: none;

}

.edit_settings {

    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.top_header {

    margin-left: 540px;

}

.header_row {

    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0px;
    background-color: rgb(98, 109, 110);
    border-bottom: 3px solid rgb(52, 57, 58);
    color: rgb(245, 245, 245);
}

.custom_label {

    padding: 0px;
    margin: 0px;
    font-weight: bold;

}

.grid_background_comm {

    background-color: rgb(168, 168, 168);
    padding: 0px;
    margin: 10px;
    width: 960px;
    height: 130px;
}

.grid_background_phone {

    background-color: rgb(168, 168, 168);
    padding: 0px;
    margin: 10px;
    width: 960px;
    height: 180px;
}

.grid_header {

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(44, 44, 44);
    padding: 0px;
    margin: 0px;
    width: 960px;
    height: 20px;
}

.status_bar_connected{

    background-color: rgb(134, 209, 163);
    height: 30px;
    width: 100%;
}

.status_bar_disconnected{

    background-color: rgb(199, 150, 150);
    height: 30px;
    width: 100%;
}

.info_area {

    padding-left: 10px; 
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: text-top;

}

.info_area p {
    line-height: 16px;
}

[type="checkbox"]
{
    vertical-align: middle;
}