body {

    width: 995;
    background-color: rgb(235, 235, 235);
    color: rgb(44, 44, 44);
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

p {
    padding-left: 0px;
    padding-right: 0px;;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}

.hidden {

    display: none;

}

.edit_settings {

    margin-left: 5px;
    padding-top: 15px;
    padding-bottom: 0px;
    height: 220px;
    width: 555px;

}

.edit_settings input {
    padding-left: 5px;
}

.info_area {

    padding-left: 10px; 
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 0px;
    vertical-align: text-top;

}

.info_area p {
    line-height: 16px;
}

.input_ip {

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(52, 57, 58);
    display:block;
    padding: 2px;
    margin: 0px;
    width: 150px;

}

.input_ip[disabled="true"] {
    background-color: rgb(235, 235, 228);
}
  
.input_ip input {

    border: none;
    width:24px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0px;
    text-align: center;

}

.input_mac {

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(52, 57, 58);
    display:block;
    padding: 2px;
    margin: 0px;
    width: 170px;

}

.input_mac[disabled="true"] {
    background-color: rgb(235, 235, 228);
}

.input_mac input {

    border: none;
    width:14px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0px;
    text-align: center;

}

.top_header {

    margin-left: 540px;

}

.header_row {

    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0px;
    background-color: rgb(98, 109, 110);
    border-bottom: 3px solid rgb(52, 57, 58);
    color: rgb(245, 245, 245);
}

.custom_label {

    padding: 0px;
    margin: 0px;
    font-weight: bold;

}

.custom_input {
    border: 1px solid rgb(44, 44, 44);
    width: 80px;
}

.grid_background_comm {

    background-color: rgb(173, 173, 173);
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    width: 950px;
    height: 90px;
}

.grid_background_comm thead {
    
    display:block;
    text-align:left;
    width: 950px;

}

.grid_background_comm th {
    
    padding-left: 4px;
    width: 950px;

}

.grid_comm {
    
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    width: 950px;
    height: 85px;
}

.grid_comm tr {

    background-color: rgb(255, 255, 255);
    display: block;
    width: 935px;
    margin-left: 3px;
    margin-right: 10px;
    padding-left: 4px;
    padding-right: 4px;

}

.grid_header {

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(44, 44, 44);
    padding: 0px;
    margin: 0px;
    width: 960px;
    height: 20px;
}

.grid_phone {
    overflow-y: auto;
    overflow-x: hidden;
    height: 136px;
    width: 945px;
}

.grid_background_phone {
    background-color: rgb(173, 173, 173);
    padding: 2px;
    margin-left: 10px;
    margin-right: 10px;
    width: 950px;
    height: 162px;
    margin-bottom: 4px;
}

.grid_background_phone td {

    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    border-right: 1px solid black;
  
}

.grid_row_phone {
    background-color: rgb(255, 255, 255);
    width: 922px;
    padding: 0px;
    margin-left: 2px;
    border-left: 1px solid rgb(44, 44, 44);
    border-right: 1px solid rgb(44, 44, 44);
    border-bottom: 1px solid rgb(44, 44, 44);
}

.grid_row_phone td {
    
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    text-align: center;
}

.grid_header_phone {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(44, 44, 44);
    padding-bottom: 4px;
    padding-top: 0px;
    margin: 0px;
    width: 946px;
    height: 20px;
    text-align: center;
}

.toggle_on {
    background-color: rgb(197, 255, 195);
}

.status_bar_connected{

    background-color: rgb(134, 209, 163);
    height: 30px;
    width: 100%;
}

.status_bar_disconnected{

    background-color: rgb(199, 150, 150);
    height: 30px;
    width: 100%;
}

.ui-widget.ui-widget-content {
    border: 3px solid rgb(98, 109, 110) !important;
}

.ui-widget-header {
    background-color: rgb(98, 109, 110) !important;
    color: rgb(245, 245, 245) !important;
}

[type="checkbox"]
{
    vertical-align: middle;
}